# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [5]:
data = {
    'evolution':['Ivysaur','Charmeleon','Wartortle','Metapod'],
    'hp':[45,39,44,45],
    'name': ['Bulbasaur','Charmander','Squirtle','Caterpie'],
    'pokedex':['yes','no','yes','no'],
    'type':['grass','fire','water','bug']
}

### Step 3. Assign it to a variable called pokemon

In [6]:
pokemon = pd.DataFrame(data)
pokemon

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [7]:
new_column = ['type','hp','evolution','pokedex']
pokemon = pokemon[new_column]
pokemon

    type  hp   evolution pokedex
0  grass  45     Ivysaur     yes
1   fire  39  Charmeleon      no
2  water  44   Wartortle     yes
3    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [8]:
pokemon['place']=['a','ab','abc','abcd']
pokemon

    type  hp   evolution pokedex place
0  grass  45     Ivysaur     yes     a
1   fire  39  Charmeleon      no    ab
2  water  44   Wartortle     yes   abc
3    bug  45     Metapod      no  abcd

### Step 6. Present the type of each column

In [10]:
pokemon.dtypes

type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object

### BONUS: Create your own question and answer it.