<a href="https://colab.research.google.com/github/ntchinhh/Pandas_Exercise/blob/main/08_Iris.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Iris

### Introduction:

This exercise may seem a little bit strange, but keep doing it.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

### Step 3. Assign it to a variable called iris

In [20]:
iris = pd.read_csv('/content/iris.data', header=None)
iris.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

### Step 4. Create columns for the dataset

In [21]:
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class
iris.columns = ['sepal_length','sepal_width','petal_length','petal_width','class']

### Step 5.  Is there any missing value in the dataframe?

In [22]:
iris.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
class           0
dtype: int64

### Step 6.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [23]:
iris.at[9:29,:]= np.nan

### Step 7. Good, now lets substitute the NaN values to 1.0

In [24]:
iris.fillna(1.0,inplace=True)

### Step 8. Now let's delete the column class

In [25]:
del iris['class']

### Step 9.  Set the first 3 rows as NaN

In [26]:
iris.at[:2,:]= np.nan

### Step 10.  Delete the rows that have NaN

In [27]:
iris.dropna(inplace=True)

### Step 11. Reset the index so it begins with 0 again

In [28]:
iris.reset_index()

     index  sepal_length  sepal_width  petal_length  petal_width
0        3           4.6          3.1           1.5          0.2
1        4           5.0          3.6           1.4          0.2
2        5           5.4          3.9           1.7          0.4
3        6           4.6          3.4           1.4          0.3
4        7           5.0          3.4           1.5          0.2
..     ...           ...          ...           ...          ...
142    145           6.7          3.0           5.2          2.3
143    146           6.3          2.5           5.0          1.9
144    147           6.5          3.0           5.2          2.0
145    148           6.2          3.4           5.4          2.3
146    149           5.9          3.0           5.1          1.8

[147 rows x 5 columns]

### BONUS: Create your own question and answer it.